<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Añadimos el componente iron-ajax en el componente visor-usuario porque es aquí donde lo uso -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html ">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>

<dom-module id="visor-cuenta">
  <template>
    <!-- importamos la hoja de estilo de bootstrap para aplicarlo sólo en el visor. No se pisa con el que está en el index.html -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    
    <!-- Estilo local del componente -->
    <!-- :host informa, representa al componente entero
    display: block hace que el componente se muestre como una caja (mirar las opciones)
    all: initial para poner todos los estilos a su valor inicial -->
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Sus cuentas</h1>
    <dom-repeat items="{{accounts}}">
        <template>
          <div>IBAN: <span>{{item.IBAN}}</span></div>
          <div>Balance: <span>{{item.balance}}</span></div>
          <br>
        </template>
      </dom-repeat>

    <!-- auto es como auto=true, lanza la petición ajax tras cargar el componente 
      automáticamente
    id= identifica al componente
    url= url a la que llama el componente -> llamada ajax
    handle-as : Cómo esperamos la respuesta (sabemos que es json por el api que hemos hecho)
    on-response: qué hacer con lo que nos llega en la respuesta -->
    <iron-ajax auto
      id="getAccountByUserID"
      url="http://localhost:3000/apitechu/v2/accounts/{{idusuario}}"
      handle-as="json"
      on-response="manageAJAXResponse"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          idusuario: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }
      // Recogemos lo que nos llega desde la API para pintarlo en el componente.
      manageAJAXResponse (data) {
        console.log("Llegaron los datos"); 
        console.log (data.detail.response); //para asegurarnos de qué nos está devolviendo la llamada
        this.accounts = data.detail.response;
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
