<!-- al crear un nuevo componente cambiamos/actualizamos
- dom-module id
- nombre de la clase 
- return de la clase
- window.customElement.define -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Añadimos el componente iron-ajax en el componente visor-usuario porque es aquí donde lo uso -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html ">

<dom-module id="login-usuario">
  <template>
    <!-- importamos la hoja de estilo de bootstrap para aplicarlo sólo en el visor. No se pisa con el que está en el index.html -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Estilo local del componente -->
    <!-- :host informa, representa al componente entero
    display: block hace que el componente se muestre como una caja (mirar las opciones)
    all: initial para poner todos los estilos a su valor inicial -->
    <style>
      :host {
        display: block;
        /* all: initial;  */
        /* border: solid blue; */
      }
    </style>
    <!-- Vinculamos one-way porque estas propiedades no queremos que cambien y no están en ningún input -->
    <input placeholder="email " type="text" value="{{email::input}}"/>
    <input placeholder="password" type="password" value="{{password::input}}"/>
    <button on-click="login">Login</button>
    <span hidden$="{{!isLogged}}">Bienvenid@ de nuevo</span>
    <!-- auto es como auto=true, lanza la petición ajax tras cargar el componente 
      automáticamente
    id= identifica al componente
    url= url a la que llama el componente -> llamada ajax
    handle-as : Cómo esperamos la respuesta (sabemos que es json por el api que hemos hecho)
    content-type= application/json porque enviamos un json
    method= POST porque por defecto es get y hay que explicitarlo si no es un get
    on-response: qué hacer con lo que nos llega en la respuesta 
    on-error para gestionar si tenemos un http 500 ó un 401-->
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json" 
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          }, password: {
            type: String
          }, isLogged: {
            type : Boolean,
            value : false
          }
        };
      }
    //Función manejadora del evento on-click
    login (){
      console.log ("El usuario ha pulsado el botón de login");
      console.log ("Voy a enviar la petición");

      //Creamos un objeto con lo que queremos enviar en el POST
      var loginData = {
        "email" : this.email,
        "password" : this.password
      };
      //Una vez los datos están preparados:
      //creamos el body del iron-ajax
      //para acceder a un elemento del dom-local hay que anteponer un $
      //el iron ajax se referencia con su id
      //El api está esperando un string en formato json, luego no envío la variable loginData
      //sino un string en formato json (JSON.stringify)
      this.$.doLogin.body = JSON.stringify(loginData);
      console.log (JSON.stringify(loginData));
      //lanzamos la petición en sí misma:
      this.$.doLogin.generateRequest();
      
      console.log ("Petición enviada");

    }
      // Recogemos lo que nos llega desde la API para pintarlo en el componente.
      // función manejadora del on-response
      manageAJAXResponse (data) {
        console.log("Llegaron los datos"); //para asegurarnos de qué nos está devolviendo la llamada
        console.log (data.detail.response);
        this.isLogged = true;
        //Al hacer login correcto redirigimos al usuario a la ruta que nos muestra el usuario /user/:id
        //window.location = "user/" + data.detail.response.idusuario;
        window.location = "accounts/" + data.detail.response.idusuario;

      }

      //función manejadora del on-error
      showError(error){
        console.log("Hubo un eror");
        console.log (error);
      
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
