<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Añadimos el componente iron-ajax en el componente visor-usuario porque es aquí donde lo uso -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html ">

<dom-module id="visor-usuario">
  <template>
    <!-- importamos la hoja de estilo de bootstrap para aplicarlo sólo en el visor. No se pisa con el que está en el index.html -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Estilo local del componente -->
    <!-- :host informa, representa al componente entero
    display: block hace que el componente se muestre como una caja (mirar las opciones)
    all: initial para poner todos los estilos a su valor inicial -->
    <style>
      :host {
        display: block;
        /* all: initial;  */
        /* border: solid blue; */
      }
    </style>
    <!-- Vinculamos one-way porque estas propiedades no queremos que cambien y no están en ningún input -->
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3> y mi email es [[email]].</h3>
    <!-- auto es como auto=true, lanza la petición ajax tras cargar el componente 
      automáticamente
    id= identifica al componente
    url= url a la que llama el componente -> llamada ajax
    handle-as : Cómo esperamos la respuesta (sabemos que es json por el api que hemos hecho)
    on-response: qué hacer con lo que nos llega en la respuesta -->
    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="manageAJAXResponse"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id: {
            type: Number
          }
        }
      }
      // Recogemos lo que nos llega desde la API para pintarlo en el componente.
      manageAJAXResponse (data) {
        console.log("Llegaron los datos"); //para asegurarnos de qué nos está devolviendo la llamada
        console.log (data.detail.response); //para asegurarnos de qué nos está devolviendo la llamada
          this.first_name = data.detail.response.first_name;
          this.last_name = data.detail.response.last_name;
          this.email = data.detail.response.email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
